




.footer {
  background-color: #172434;
  color: #fff;
  padding-top: 60px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

/* Brand */
.footer-brand h2 {
  margin-bottom: 10px;
}

.footer-brand p {
  opacity: 0.7;
  line-height: 1.5;
}

/* Links */
.footer-links h4,
.footer-contact h4 {
  margin-bottom: 12px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  line-height: 2.5;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #fff;
}

/* Social */
.social {
  margin-top: 12px;
  line-height: 2.5;
  gap: 12px;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding: 20px 24px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

/* Responsivo */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }


}



.footer i {
  margin-right: 8px;
}

.social a {
  font-size: 16px;
  color: #ccc;
  transition: 0.3s;
}

.social a:hover {
  color: #fff;
  transform: translateY(-2px);
}



#footer {
  width: 100%;
  background-color: #172434;

  /* ESSENCIAL: remove qualquer limitação externa */
  margin: 0;
  padding: 0;
}